/**************************/
/* HEADER SECTION */
/**************************/

.logo {
  height: 2.2rem;
}

.header {
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-list-item:link,
.nav-list-item:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-list-item:hover,
.nav-list-item:active {
  color: #cf711f;
}

.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-weight: 500;
  border-radius: 9px;
  transition: all 0.3s;
}

.nav-btn:hover,
.nav-btn:active {
  background-color: #cf711f;
}

.btn-menu {
  cursor: pointer;
  display: none;
}

.icon-menu {
  font-size: 4.8rem;
}

.icon-close {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.delivered-images {
  display: flex;
  align-items: center;
}

.delivered-images img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured-in {
  padding: 4.8rem 0;
}

.featured-in-heading {
  color: #888;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-image {
  width: 35%;
}

.step-number {
  display: block;
  font-size: 8rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1.2rem);
}

.meal-image {
  width: 100%;
}

.meal-content-container {
  padding: 3.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  border-radius: 100px;
  font-weight: 600;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  color: #333;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.meal-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-features li {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.meal-feature-icon {
  font-size: 2.2rem;
  color: #e67e22;
}

.meal-features li strong {
  font-weight: 500;
}

.diet-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.diet-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2rem;
}

.check-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  padding: 9.6rem;
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 9.6rem;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 4.8rem;
  row-gap: 8rem;
}

.customer-image {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.customer-review {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
}

.customer-name {
  font-size: 1.4rem;
  color: #888;
}

.galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.galery-item {
  overflow: hidden;
}

.galery-image {
  width: 100%;
  transition: all 0.3s;
}

.galery-image:hover {
  transform: scale(1.1);
}

/**************************/
/* PRICING SECTION */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.pricing-box {
  padding: 3.2rem 4.8rem;
  border-radius: 11px;
}

.starter {
  border: 2px solid #fdf2e9;
}

.pricing-title {
  font-size: 2.2rem;
  color: #cf711f;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.price {
  font-size: 8rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 2.4rem;
}

.price span {
  font-size: 4rem;
  font-weight: 500;
}

.pricing-text {
  font-size: 1.6rem;
  color: #777;
  margin-bottom: 6.2rem;
}

.pricing-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4.4rem;
}

.pricing-features-item {
  font-size: 2rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.pricing-btn-container {
  display: flex;
  justify-content: center;
}

.complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.pricing-description {
  font-size: 1.6rem;
}

/**************************/
/* FEATURES SECTION */
/**************************/

.section-features {
  padding: 4.8rem 0;
}

.feature-icon {
  font-size: 3.8rem;
  color: #cf711f;
  background-color: #fdf2e9;
  padding: 1.2rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.feature-heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.8rem;
}

.feature-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 6.4rem;
  color: #45260a;
}

.cta-heading {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.cta-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 5.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.cta-form input,
.cta-form select {
  width: 100%;
  background-color: #fdf2e9;
  border: none;
  padding: 1.2rem;
  border-radius: 11px;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
}

.cta *:focus {
  outline: none;
}

.submit-button-container {
  align-self: end;
}

.submit-button {
  background-color: #45260a;
  border-radius: 11px;
  padding: 1.2rem;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  width: 100%;
  border: none;
  transition: all 0.3s;
}

.submit-button:hover {
  background-color: #fff;
  color: #555;
}

.cta-image {
  width: 100%;
}

.cta-image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

/**************************/
/* FOOTER SECTION */
/**************************/

.footer {
  padding: 12.8rem 0;
  border: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
}

.social-links {
  margin-top: 3.2em;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.social-link:link,
.social-link:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #888;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #555;
}

.copyright-text-container {
  margin-top: 5.6rem;
}

.copyright-text {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #888;
}

.heading-footer {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-items-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.adress-text {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #888;
}

.footer-links:link,
.footer-links:visited {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.6;
  text-decoration: none;
  color: #888;
  transition: all 0.3s;
}

.footer-links:hover,
.footer-links:active {
  color: #555;
}
